<phpunit bootstrap="framework/tests/bootstrap.php" colors="true">

    <testsuite name="Default">
        <directory>stripeslack/tests</directory>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">stripeslack/code</directory>
        </whitelist>
    </filter>

    <groups>
        <exclude>
            <group>sanitychecks</group>
        </exclude>
    </groups>
</phpunit>
